<!-- <div class="container">
  <h1>{{title}}</h1>
  <div class="listContainer">
    <p>Topics Covered: </p>
    <ul style="list-style-type: square;">
      <li>Introduction to Angular</li>
      <li>Installation</li>
      <li>NPM</li>
      <li>Components</li>
    </ul>
  </div>
  <div class="box" [style.backgroundColor]="color">
    <h1 style="text-align:center;">{{cmd}}</h1>
  </div>
  <button (click)="changeColor()">click me</button>
</div> -->
<!-- <app-ang-child [parentData]="productName" (childData)="receivedData($event)"></app-ang-child> -->
<router-outlet></router-outlet>