<div class="mainContainer">
    <form [formGroup]="myLoginForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <label for="email">Email</label>
            <input type="email" formControlName="email" />
        </div>
        <div class="container">
            <label for="password">Password</label>
            <input type="text" formControlName="password" />
        </div>
        <div>
            <button *ngIf="myLoginForm.valid" type="submit">Login</button>
        </div>
        <div class="container">
            <p>{{message}}</p>
        </div>


    </form>
</div>