.container{
    height: 90vh;
}

.myForm{
    border-radius: 10px;
    width: 45%;
    font-size: 18px;
    font-weight: 600;
    background:linear-gradient(to right,rgb(4, 20, 146),rgb(9, 35, 228))
}
.signUpButton{
    border-width: 0;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
}
.signUpButton:hover{
    transform: scale(1.05);
}
.date{
    width: 43%;
    font-size: 14px;
    height: 30px;
}
input:hover{
    border-color: rgb(176, 183, 184);
    cursor: pointer;
    
}

p{
    font-size: 10px;
}
span{
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    margin-left: 5px;
}


