<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center h-100 ">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="myForm p-5 text-white">

            <div class="w-100">
                <div class="d-flex flex-row justify-content-between mb-4">
                    <label for="">First Name </label>
                    <input type="text" id="fname" formControlName="firstName">
                </div>

                <div class="d-flex flex-row justify-content-between mb-4">
                    <label for="">Last Name </label>
                    <input type="text" id="lname" formControlName="lastName">
                </div>

                <div class="d-flex flex-row justify-content-between mb-4">
                    <label for="">Email </label>
                    <input type="email" id="email" formControlName="email">
                </div>

                <div class="d-flex flex-row justify-content-between mb-4">
                    <div>
                        <label for="">Gender</label>
                    </div>
                    <div class="d-flex flex-row justify-content-evenly w-50 fs-6">
                        <div>
                            <label for="">Male &nbsp;</label>
                            <input type="radio" id="male" value="male" formControlName="gender">
                        </div>

                        <div>
                            <label for="">Female &nbsp;</label>
                            <input type="radio" id="female" value="female" formControlName="gender">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-between mb-4">
                    <label for="">Date of Birth </label>
                    <input type="date" id="date" formControlName="dob" class="date">
                </div>

                <div class="d-flex flex-row justify-content-between mb-4">
                    <label for="">Password</label>
                    <input type="password" id="password" formControlName="password">
                </div>

                <div class="d-flex flex-row justify-content-end mb-3">
                    <button *ngIf="myForm.valid" type="submit" class="signUpButton">SignUp</button>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <p>Already have an account?<span class="mySpan" (click)="loadLogin()">login</span>
                    </p>
                </div>
            </div>


        </form>
    </div>
</div>