*{
    margin:0;
    padding: 0;
}
.main{
    height: 150vh;
    display: flex;
    background:linear-gradient( to bottom,rgb(209, 96, 96),black,black,black,black);
}
.dividing{
    background:linear-gradient( to bottom,rgb(31, 30, 30),black,black,black);
}
.table{
    display: flex;
    text-align: left;
    color: grey;
    padding-left: 10px;
}
.hash{
    width: 2vw;
    padding: 10px;
}
.title{
    width: 25vw;
    padding: 10px;
}
.duration{
    width: 10vw;
    padding: 10px;
}
.date{
    width: 15vw;
    padding: 10px;
}
.album{
    width: 15vw;
    padding: 10px;
}
.left{
    background-color: black;
    width: 25%;
    color:white;
}
.left-box{
    height: 25vh;
    background-color: rgb(36, 34, 34);
    margin: 10px;
    border-radius: 10px;
    padding-top: 20px;
   
}
.left-last{
    height: 32vh;
}
.sidebar-content{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;
}
.sidebar-heading{
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;

}
.sidebar-innerpage{
    background-color: rgb(63, 65, 65);
    border-radius: 10px;
    padding: 15px;
}
.images{
    width: 20px;
    height: 20px;
}
.sidebar-names{
    padding-left: 5px;
}
p{
    color: rgb(164, 169, 171);
    margin-left: 5px;
    margin-right: 5px;

}
.para1{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.para2{
    color: white;
    font-size: 16px;
    font-weight: 500    ;
}
.button{
    width: 150px;
    background-color: white;
    border-radius: 10px;
    height: 24px;
    margin-right: 20px;
    text-align: center;
    border-width: 0;
    margin-top: 20px;
    font-weight: 600;
    
    
}
.temp{
    
    background:linear-gradient(to bottom, rgb(209, 96, 96));
    height: 32vh;
    display: flex;

}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.spacing{
    margin-left: 15px;
}
.tone{
    width: 170px;
    background-size: cover;
    margin: 30px;
    border-radius: 20px;
    opacity: 0.9;
}
.title-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heading{
    color: white;
    font-weight: bold;
    font-size: 80px;
}
.top-para{
    color: rgb(177, 173, 173);
    font-size: 15px;
}
.table:hover{
    background-color:  rgb(36, 34, 34);
    
}

/* left side bar */
.left-division{
    width: 25%;
}
.left{
    background-color: black;
    width: 25%;
    position: fixed;
}
.sidebar-content{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;
}
.images{
    width: 20px;
    height: 20px;
}
.sidebar-names{
    padding-left: 5px;
}
.spacing{
    margin-left: 15px;
}
.left-box{
    height: 100px;
    background-color: rgb(36, 34, 34);
    margin: 10px;
    border-radius: 10px;
    padding-top: 20px;
   
}
.left-last{
    height: 580px;
}
.sidebar-heading{
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;

}
.sidebar-items{
    color: rgb(188, 181, 181);
    background-color:  rgb(51, 49, 49);
    font-size: 14px;
    border-radius: 20px;
    padding: 5px 15px;
}
.sidebar-items:hover{
    background-color:  rgb(80, 77, 77);
}
.search-recents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-icon{
    width: 30px;
}
.recent-icon{
    width: 25px;
    background-color: rgb(165, 159, 159);
    opacity: 0.2;
    border-radius: 10px;
}
.recents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recents-word{
    color: grey;
    font-size: 15px;
    padding: 10px;
}
.spacing-division{
    height: 70px;
    width: 75%;
}
.artist{
    margin-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.artist-pic{
    width: 60px;
    border-radius: 50px;
}
.artist-details{
    margin-left: 10px;
}
.artist-name{
    color: aliceblue;
    font-size: 16px;
}.artist-role{
    font-size: 14px;
}
.artist:hover{
    background-color:  rgb(51, 49, 49);
}
.liked-pic{
    width: 60px;
    border-radius: 5px;
}
.recent-icon{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}
.hamburger {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 20px;
    background-color: rgb(73, 74, 74);
    border-radius: 50px;
    width: 20px;
    padding: 10px;
  }