<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: space-between;

    }

    button {
        margin: 10px;
        background-color: rgb(67, 178, 218);
        border-radius: 5px;
        color: white;
        border-width: 0;
        padding: 10px;
        width: 100px;
    }

    button:hover {
        transform: scale(1.05);
    }
</style>

<body>
    <div class="container">
        <div>
            <button onclick="window.location.href=`http://192.168.43.94:5000`">Logout</button>
        </div>
        <div class="buttons">

            <button
                onclick="window.location.href=`http://192.168.43.94:5000/updateuser/{{message['id']}}`">Edit</button>


            <button
                onclick="window.location.href=`http://192.168.43.94:5000/deleteuser/{{message['id']}}`">Delete</button>

        </div>
    </div>
    <h1>{{message['username'].upper()}}</h1>
    <ul>
        <li>ID: {{message['id']}}</li>
        <li>Username: {{message['username']}}</li>
        <li>Password: {{message['password']}}</li>
        <li>Email: {{message['email']}}</li>
        <li>Phone: {{message['phone']}}</li>
        <li>Address: {{message['address']}}</li>
        <li>City: {{message['city']}}</li>
        <li>State: {{message['state']}}</li>
        <li>Country: {{message['country']}}</li>
        <li>Postcode: {{message['postcode']}}</li>

    </ul>

</body>

</html>