<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/logged_extended.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="left-division">

        </div>
        <div class="left">
            <div class="left-box">
                <!-- <div class="sidebar-content">
                    <img class="images" src="./images/download.png" alt=""><span class="sidebar-names">Spotify</span>
                </div> -->
                <div class="sidebar-content">
                    <img class="images" src="{{url_for('static',filename='images/home-xxl.png')}}" alt=""><span
                        class="sidebar-names spacing">Home</span>
                </div>
                <div class="sidebar-content">
                    <img src="{{url_for('static',filename='images/search-12-xxl.png')}}" alt="" class="images"><span
                        class="sidebar-names spacing">Search</span>
                </div>

            </div>
            <div class="left-box left-last">
                <div class="sidebar-content">
                    <img src="{{url_for('static',filename='images/book-xl.png')}}" alt="" class="images"><span
                        class="sidebar-heading spacing">Your
                        Library</span>
                </div>
                <div class="sidebar-content">
                    <span class="sidebar-items">Playlist</span>
                    <span class="sidebar-items">Artist</span>
                </div>
                <div class="sidebar-content">
                    <div class="search-recents">
                        <div class="search">
                            <img src="{{url_for('static',filename='images/seach.png')}}" alt="" class="search-icon">
                        </div>
                        <div class="recents">
                            <div>
                                <span class="recents-word">Recents</span>
                            </div>
                            <div class="hamburger recent-icon">
                                &#9776;
                            </div>
                            <!-- <div>
                                <img src="{{url_for('static',filename='images/recent.png')}}" alt=""
                                    class="recent-icon">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="lib-content">
                    <div class="artist">
                        <div>
                            <img src="{{url_for('static',filename='images/spotify_liked.jpeg')}}" alt=""
                                class="liked-pic">
                        </div>
                        <div class="artist-details">
                            <p class="artist-name">Liked Songs</p>
                            <p class="artist-role">Playlist . 2 Songs</p>
                        </div>

                    </div>
                    <div class="artist">
                        <div>
                            <img src="{{url_for('static',filename='images/alanwalker.jpeg')}}" alt=""
                                class="artist-pic">
                        </div>
                        <div class="artist-details">
                            <p class="artist-name">Alan Walker</p>
                            <p class="artist-role">Artist</p>
                        </div>

                    </div>
                    <div class="artist">
                        <div>
                            <img src="{{url_for('static',filename='images/arijit.jpeg')}}" alt="" class="artist-pic">
                        </div>
                        <div class="artist-details">
                            <p class="artist-name">Arijit Singh</p>
                            <p class="artist-role">Artist</p>
                        </div>

                    </div>
                    <div class="artist">
                        <div>
                            <img src="{{url_for('static',filename='images/arman.jpg')}}" alt="" class="artist-pic">
                        </div>
                        <div class="artist-details">
                            <p class="artist-name">Arman Malik</p>
                            <p class="artist-role">Artist</p>
                        </div>

                    </div>

                </div>
                <!-- <div class="sidebar-content">
                    <div class="sidebar-innerpage">
                        <p class="para1">Create your first playlist</p>
                        <p class="para2">It's easy, we'll help you</p>
                        <button class="button">Create Playlist</button>
                    </div>

                </div> -->
            </div>
            <!-- <div class="left-box left-last">
                <div class="sidebar-content">
                    <div class="sidebar-innerpage">
                        <p class="para1">Lets find some Podcasts to follow</p>
                        <p class="para2">We'll keep you updated on new episodes</p>
                        <button class="button">Browse Podcasts</button>
                    </div>

                </div>
            </div> -->

        </div>
        <div class="right">
            <div class="right-heading-top">
                <div>
                    <p class="heading">Welcome to Spotify</a>
                </div>
                <div class="header-buttons">
                    <div class=" login logout">
                        <a href="http://192.168.43.94:5001/logout">Log out</a>
                    </div>
                    <div>
                        <div class="hamburger" onclick="toggleOptions()">
                            &#9776;
                        </div>


                    </div>
                    <div id="options">
                        <!-- <button class="option-btn"
                            onclick="window.location.href=`http://192.168.43.94:5001/editprofils`">Edit
                            Profile</button> -->

                        <button class="option-btn"
                            onclick="window.location.href=`http://192.168.43.94:5001/addsong`">Add
                            song</button>
                        <button class="option-btn"
                            onclick="window.location.href=`http://192.168.43.94:5001/deletesongs`">Delete
                            songs</button>
                        <button class="option-btn"
                            onclick="window.location.href=`http://192.168.43.94:5001/users`">Users
                        </button>

                    </div>
                </div>



            </div>
            <div class="spacing-division">

            </div>
            <div class="right-bottom">

                <h3>Made For You</h3>
                <div class="right-main">
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/deep-focus.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Deep Focus</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/study.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Lofi study beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/readingjpeg.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Reading sound track</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/concentratiom.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Perfect concentration</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/jazz.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Smooth jazz beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="right-bottom">

                <h3>Focus</h3>
                <div class="right-main">
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/deep-focus.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Deep Focus</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/study.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Lofi study beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/readingjpeg.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Reading sound track</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/concentratiom.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Perfect concentration</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/jazz.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Smooth jazz beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="right-bottom">

                <h3>Kannada</h3>
                <div class="right-main">
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/deep-focus.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Deep Focus</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/study.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Lofi study beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/readingjpeg.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Reading sound track</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/concentratiom.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Perfect concentration</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/jazz.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Smooth jazz beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="right-bottom">

                <h3>Telugu</h3>
                <div class="right-main">
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/deep-focus.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Deep Focus</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/study.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Lofi study beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/readingjpeg.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Reading sound track</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>

                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/concentratiom.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Perfect concentration</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="http://192.168.43.94:5001/songs">
                            <div class="parts">
                                <div class="right-images">
                                    <img src="{{url_for('static',filename='images/jazz.jpeg')}}" alt=""
                                        class="right-images">
                                </div>
                                <p class="title">Smooth jazz beats</p>
                                <p class="song-descp">keep calm and focus on ambient and .....</p>

                            </div>
                        </a>
                    </div>

                </div>

            </div>

            <script>
                function toggleOptions() {
                    var options = document.getElementById('options');
                    options.style.display = (options.style.display === 'block') ? 'none' : 'block';
                }
            </script>
</body>

</html>