<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/login.css')}}">
    <title>Document</title>
</head>

<body>
    <div class=" main">

        <form action="" name="myform" method="post">

            <div class="loginpages">
                <a href="http://192.168.43.94:5001/login">
                    <p class="button back">Back</p>
                </a>
                <div class="loginpage">

                    <div class="inputs">
                        <label for="email">
                            Email
                        </label>
                        <div>
                            <input type="email" name="email" required>
                        </div>
                    </div>
                    <div class="inputs">
                        <label for="password">
                            Reset password
                        </label>
                        <div>
                            <input type="password" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="inputs">
                        <button class="button">Reset</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <script src="./spotify.js"></script>
</body>

</html>