<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="left-division">

        </div>
        <div class="left">
            <div class="left-box">
                <div class="sidebar-content">
                    <img class="images" src="{{url_for('static',filename='images/spotify-xl.png')}}" alt=""><span
                        class="sidebar-names">Spotify</span>
                </div>
                <div class="sidebar-content">
                    <img class="images" src="{{url_for('static',filename='images/home-xxl.png')}}" alt=""><span
                        class="sidebar-names spacing">Home</span>
                </div>
                <div class="sidebar-content">
                    <img src="{{url_for('static',filename='images/search-12-xxl.png')}}" alt="" class="images"><span
                        class="sidebar-names spacing">Search</span>
                </div>

            </div>
            <div class="left-box left-box-second">
                <div class="sidebar-content">
                    <img src="{{url_for('static',filename='images/book-xl.png')}}" alt="" class="images"><span
                        class="sidebar-heading spacing">Your
                        Library</span>
                </div>
                <div class="sidebar-content">
                    <div class="sidebar-innerpage">
                        <p class="para1">Create your first playlist</p>
                        <p class="para2">It's easy, we'll help you</p>
                        <button class="button">Create Playlist</button>
                    </div>

                </div>
            </div>
            <div class="left-box left-last">
                <div class="sidebar-content">
                    <div class="sidebar-innerpage">
                        <p class="para1">Lets find some Podcasts to follow</p>
                        <p class="para2">We'll keep you updated on new episodes</p>
                        <button class="button">Browse Podcasts</button>
                    </div>

                </div>
            </div>

        </div>
        <div class="right">
            <div class="right-top">
                <div>
                    <a class="signup" href="http://192.168.43.94:5001/signup">Sign up</a>
                </div>
                <div class="login">
                    <a id="login" href="http://192.168.43.94:5001/login">Log in</a>
                </div>

            </div>
            <div class="spacing-division">

            </div>
            <div class="right-bottom">

                <h3>Spotify Playlists</h3>
                <div class="right-main">
                    <div>
                        <div class="parts">
                            <div class="right-images">
                                <img src="{{url_for('static',filename='images/deep-focus.jpeg')}}" alt=""
                                    class="right-images">
                            </div>
                            <p class="title">Deep Focus</p>
                            <p>keep calm and focus on ambient and .....</p>

                        </div>

                    </div>
                    <div>
                        <div class="parts">
                            <div class="right-images">
                                <img src="{{url_for('static',filename='images/study.jpeg')}}" alt=""
                                    class="right-images">
                            </div>
                            <p class="title">Lofi study beats</p>
                            <p>keep calm and focus on ambient and .....</p>

                        </div>

                    </div>
                    <div>
                        <div class="parts">
                            <div class="right-images">
                                <img src="{{url_for('static',filename='images/readingjpeg.jpeg')}}" alt=""
                                    class="right-images">
                            </div>
                            <p class="title">Reading sound track</p>
                            <p>keep calm and focus on ambient and .....</p>

                        </div>

                    </div>
                    <div class="parts">
                        <div class="right-images">
                            <img src="{{url_for('static',filename='images/concentratiom.jpeg')}}" alt=""
                                class="right-images">
                        </div>
                        <p class="title">Perfect concentration</p>
                        <p>keep calm and focus on ambient and .....</p>

                    </div>
                    <div class="parts">
                        <div class="right-images">
                            <img src="{{url_for('static',filename='images/jazz.jpeg')}}" alt="" class="right-images">
                        </div>
                        <p class="title">Smooth jazz beats</p>
                        <p>keep calm and focus on ambient and .....</p>

                    </div>

                </div>


            </div>
            <div class="footer-bottom">
                <div class="footer-main">
                    <div class="footer-parts">
                        <h1 class="footer-heading">Company</h1>
                        <p class="footer-descp">About</p>
                        <p class="footer-descp">Jobs</p>
                        <p class="footer-descp">For the record</p>
                    </div>

                    <div class="footer-parts">
                        <h1 class="footer-heading">Communities</h1>
                        <p class="footer-descp">For Artists</p>
                        <p class="footer-descp">Developers</p>
                        <p class="footer-descp">Advertising</p>
                        <p class="footer-descp">Investors</p>
                    </div>
                    <div class="footer-parts">
                        <h1 class="footer-heading">Useful links</h1>
                        <p class="footer-descp">Support</p>
                        <p class="footer-descp">Free Mobile App</p>

                    </div>
                    <div class="footer-parts">

                    </div>
                    <div class="footer-parts">

                    </div>




                </div>

                <hr><br>
                <p class="footer-descp">&#169; 2023 Spotify AB</p>



            </div>
        </div>
    </div>

</body>

</html>