<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="./spotify.html">
        <div class="inputs">
            <label for="email">
                Email
            </label>
            <div>
                <input type="email" name="email" id="email">
            </div>
        </div>
        <div class="inputs">
            <label for="password">
                password
            </label>
            <div>
                <input type="password" name="password" id="password">
            </div>
        </div>
        <div class="inputs">
            <button type="submit" class="button">Login In</button>
        </div>
        <div class="inputs">
            <p>Don't have account <Span class="signup"><a href="signup1.html">Sign up</a></Span></p>
        </div>
    </form>
</body>

</html>